<div class="container">
  <h1
    style="
      background-color: Red;
      color: white;
      border-radius: 100%;
      height: 200px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
    "
  >
    Smart Store
  </h1>
  <p>A demonstration of CDP's Developer APIs.</p>
  <p>Imagine a store that could intelligently charge or recommend swaps based on the tokens of a users' wallet.</p>
  @if (ethereum) { @if (!account()) {
  <button (click)="connect()">Sign In</button>
  } @if (account()) {
  <p>
    Connected to {{ account()
    }}<!-- on {{chainName}}-->
  </p>
  @if(tokens()) {
  <p>
    This store collects payments in
    <a href="https://sepolia.basescan.org/token/0x036CbD53842c5426634e7929541eC2318f3dCF7e" target="_blank">USDC</a>. We
    found the following tokens in your wallet:
  </p>
  <table style="margin: 0px auto">
    @for(token of tokens(); track $index) { @if(token.asset.type == "erc20") {
    <tr>
      <td>
        {{ token | tokenValue }}
      </td>
      <td>
        <a href="https://sepolia.basescan.org/token/{{ token.asset.groupId }}" target="_blank">{{
          token.asset.groupId | tokenLookup
        }}</a>
      </td>
      <td>
        @if((token | tokenLookup) != 'USDC'){
        <button (click)="swap(token.asset.groupId)">Swap</button>
        }
      </td>
    </tr>
    } @else {
    <tr>
      <td>{{ token | tokenValue }}</td>
      <td>native ETH</td>
      <td></td>
    </tr>
    } }
  </table>
  @if(showSwap()) {
  <div>
    <app-swap-ui [account]="account()" [ethereum]="ethereum"></app-swap-ui>
  </div>
  } } } } @if (!ethereum) { Please install a crypto wallet like
  <a href="https://www.coinbase.com/wallet">Coinbase Wallet</a>. }
</div>
